* {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}

.navbar {
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #2D3436;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	padding: 4vh 0;
}

.navbar .left img {
	height: 8vh;
	width: auto;
}

.navbar .right {
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin-top: 1vh;
	width: 100%;
}

.navbar .right a {
	color: #FFFFFF;
	padding: 1.5vh 0;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.hero {
	background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(/assets/img/herobg.png);
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/assets/img/herobg.png);
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/assets/img/herobg.png);
	background-position-x: center;
	background-position-y: center;
	color: #DFE6E9;
	padding: 8vh 0;
	text-align: center;
}

.hero a {
	border: 1px solid #DFE6E9;
	color: #DFE6E9;
	font-variant: small-caps;
	margin: 0 1.25%;
	padding: 1vh 2.5%;
	text-decoration: none;
}

.hero h2 {
	margin: 3vh 0;
}

.features {
	background-color: #2D3436;
	color: #DFE6E9;
	padding: 4vh 10%;
	text-align: center;
}

.features h2 {
	margin-bottom: 2vh;
}

.features h3 {
	margin: 2vh 0;
}

.features .features-container {
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.join-today {
	background-image: url(/assets/img/joinbg.png);
	background-position-x: center;
	background-position-y: 85%;
	color: #DFE6E9;
	padding: 4vh 0;
	text-align: center;
}

.join-today h2 {
	margin-bottom: 2vh;
}

.footer {
	background-color: #2D3436;
	color: #DFE6E9;
	padding: 4vh 0;
	text-align: center;
}

.footer .footer-container {
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.footer .footer-container ul {
	list-style: none;
	padding: 2vh 0;
}

.footer .footer-container ul a {
	color: #DFE6E9;
	text-decoration: none;
}

@media only screen and (min-width: 1000px) {
	.navbar {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		padding: 1vh 5%;
	}

	.navbar .left img {
		height: 4vh;
	}

	.navbar .right {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		margin-left: auto;
		width: 25%;
	}

	.navbar .right a {
		padding: 1vh 5%;
		width: auto;
	}

	.features .features-container {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.features .features-container .card {
		margin: 0 2.5%;
		width: 25%;
	}

	.footer .footer-container {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.footer .footer-container ul {
		margin: 0 5%;
	}
}
